.h-wap{
    width:100%;
    text-align: center;
}
.h-cont{
    overflow: hidden;
    height: auto;
    margin:0 auto;
    width:1200px;
    border-bottom:1px solid #cfcfcf;
    margin-bottom: 35px;
}
.h-cont .text{
    float: left;
    padding:12px 35px;
}
.h-cont .h-hend{
    text-align: center;
}
.h-slideshow-wap{
width:1200px;
margin:0 auto;

margin-bottom: 58px;
}
.h-slideshow-wap img{
    padding:0 3px;
}