<link rel="stylesheet" href="./CSS/body.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="h-wap">
    <div class="h-hend">
        <p style="font-size:20px;">大华教育精英教师团队</p>
        <p style="font-size:12px;color:#b0b0b0;margin-top:-15px;">不跟风，不吹嘘，对学生负责到底</p>
    </div>
    <div class="h-cont-wap">
        <div class="h-cont">
        <div class="text txt"><b>UI/UE设计</b></div>
        <div class="text"><b>H5全栈工程师</b></div>
        <div class="text"><b>JAVA+大数据</b></div>
        <div class="text"><b>Python+人工智能</b></div>
    </div>
    </div>
    <div class="h-slideshow-wap">
       <img src="./image/大华教育官网_03.png" alt="#">
       <img src="./image/大华教育官网_05.png" alt="#">
       <img src="./image/大华教育官网_07.png" alt="#">
       <img src="./image/大华教育官网_09.png" alt="#">
    </div>
</div>