<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/content2.css">
    <title>就业喜报</title>
</head>
<body>
    <div id="content2">
        <div class="head">
            <h3>学员就业喜报</h3>
            <p>就业率100%，学业事业双丰收</p>
        </div>
        <div class="big">
            <img src="../image/images/one_03.jpg" alt="" class="imgone">
            <ul class="ulone">
              <li>
                  <img src="../image/images/222_03.jpg" alt="">
                  <p>陈秋燕    |    H5工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/333_03.jpg" alt="">
                  <p>席程杰    |    H5工程师</p>
                  <p>北京某某科技公司</p>
                  <p>12000/月</p>
              </li>
              <li>
                  <img src="../image/images/444_03.jpg" alt="">
                  <p>罗阳燕    |    Java工程师</p>
                  <p>东方国信</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/555_05.jpg" alt="">
                  <p>杨坤    |    python工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/777_03.jpg" alt="">
                  <p>于瑞峰    |    H5工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/666_03.jpg" alt="">
                  <p>郑慧慧    |    Java工程师</p>
                  <p>北京先进数通信息股份有限公司</p>
                  <p>7500/月</p>
              </li>
              <li>
                  <img src="../image/images/888_03.jpg" alt="">
                  <p>崔奇    |    Python工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/999_03.jpg" alt="">
                  <p>任晋惠    |    Java工程师</p>
                  <p>北京某某科技公司</p>
                  <p>12000/月</p>
              </li>
              <li>
                  <img src="../image/images/avatar_07.jpg" alt="">
                  <p>王泽鹏    |    H5工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
              <li>
                  <img src="../image/images/lb_03.jpg" alt="">
                  <p>李博    |    Java工程师</p>
                  <p>北京某某科技公司</p>
                  <p>8000/月</p>
              </li>
            </ul>
        </div>
        <div class="second">
                <h3>10年大华不忘初心，一路前行</h3>
                <p>一代大华人共同孕育这片土地，孕育了一批又一批的精英人才</p>
        </div>
          <ul class="ultwo">
              <li>
                    <img src="../image/images/11_03.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">2019.08.23</p>
              </li>
              <li>
                    <img src="../image/images/2_07.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">2019.08.23</p>
              </li>
              <li>
                    <img src="../image/images/3_05.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">2019.08.23</p>
              </li>
              <li>
                    <img src="../image/images/4_10.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">2019.08.23</p>
              </li>
              <li>
                    <img src="../image/images/5_12.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">2019.08.23</p>
              </li>
              <li>
                  <img src="../image/images/6_14.jpg" alt="">
                  <h6>中国受邀参加中国电子教育学会</h6>
                  <h6>职教分会暑期会议</h6>
                  <p class="p1">为进一步贯彻落实国务院、教育</p><br/>
                  <p class="p2">时间：2019.08.23</p>
              </li>
          </ul>
    </div>
</body>
</html>