
<link rel="stylesheet" href="../CSS/head.css">
<div class="head_box">
<div class="head_te">
   <p class="head_tex">适合什么样的人群学习?</p>

    <div class="head_tu">
        <img src="../images/head_1.png" alt="#">
        <img src="../images/head_2.png" alt="#">
        <img src="../images/head_3.png" alt="#">
        <img src="../images/head_4.png" alt="#">
    </div>
    <p class="head_lj">了解入学详情</p>

    <div class="head_hj">

        <p class="head_one">校园占地2300亩,设施齐备 </p>
        <p class="head_two">在空气清新,环境优美的环境里学习</p>

        <div class="head_tuu">
           <div class="head_tuu_one">
            <img src="../images/head_5.png" alt="">
           </div>
            <div class="head_tuu_two">
            <img src="../images/head_6.png" alt="">
            <img src="../images/head_7.png" alt="">
            <img src="../images/head_8.png" alt="">
            <img src="../images/head_9.png" alt="">
            <img src="../images/head_10.png" alt="">
            <img src="../images/head_11.png" alt="">
            </div>
        </div>
    </div>
</div>
</div>

