<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/nav.css">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="head">
        <div class="top">
            <div class="top_one">
                <p>欢迎来到大华教育集团官网</p>
                <ul>
                    <li>登录</li>
                    <li>|</li>
                    <li>注册</li>
                </ul>
            </div>
        </div>
        <div class="top_bot">
            <div class="top_botone">
                <div class="top_left">
                    <img src="../image/img1.png" alt="" style="margin-left: -130px;">
                </div>
                <div class="top_right" style="margin-right: -95px;">
                    <img src="../image/img2.png" alt="">
                    <p>在线电话：<span>400-800-6666</span></p>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="cont_nav">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">大华简介</a></li>
                    <li class="cont_hover"><a href="#">培训课程</a>
                        <div class="cont_hover1">
                            <ul>
                                <li>JAVA+大数据</li>
                                <li>|</li>
                                <li>Python+人工智能</li>
                                <li>|</li>
                                <li>HTML前端</li>
                                <li>|</li>
                                <li>UI/UE/电商</li>
                            </ul>
                        </div>

                    </li>
                    <li><a href="#">师资力量</a></li>
                    <li><a href="#">合作企业</a></li>
                    <li><a href="#">校园风采</a></li>
                    <li><a href="#">学员作品</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">大华招聘</a></li>
                </ul>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide" style="height: 476px; margin-top: -2px; border: 0;">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active" style="margin-bottom: 77px;"></li>
                    <li data-target="#myCarousel" data-slide-to="1"  style="margin-bottom: 77px;"></li>
                    <li data-target="#myCarousel" data-slide-to="2"  style="margin-bottom: 77px;"></li>
                </ol>   
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../image/img3.png" alt="First slide" class="immm">
                    </div>
                    <div class="item">
                        <img src="../image/tu7.png" alt="Second slide" class="immm">
                    </div>
                    <div class="item">
                        <img src="../image/tu6.png" alt="Third slide" class="immm">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 

        <div class="frool">
            <ul>
                <li class="frool1">
                    <p class="pp">JAVA</p>
                    <P class="pp1">+大数据</P>
                </li>
                <li class="frool2">
                    <p class="pp">Python</p>
                    <P class="pp1">+人工智能</P>
                </li>
                <li class="frool3">
                    <p class="pp2"><span style="font-weight: 600;">HTML</span> 前端</p>
                </li>
                <li class="frool4">
                    <p class="pp2" style="font-weight: 600;">UL/UE/电商</p>
                </li>
                </li>
        </div>
        <div class="sty">
            <div class="sty_1">
                <ul>
                    <li style="margin-top: 8px;">
                        <div class="eee">
                            <img src="../image/img8_03.png" alt="" class="im1">
                            <p class="ppp">&nbsp; '零钱' 基础入学</p>
                        </div>
                        <p class="ppp1">无需任何专业基础知识包学包会</p>
                    </li>
                    <li style="margin-top: 8px;">
                        <div class="eee">
                            <img src="../image/img9_03.png" alt="" class="im1">
                            <p class="ppp">&nbsp; 提供助学贷款</p>
                        </div>
                        <p class="ppp1">免手续费贷款业务让您轻松入学</p>
                    </li>
                    <li style="margin-top: 8px;">
                        <div class="eee">
                            <img src="../image/img10_06.png" alt="" class="im1">
                            <p class="ppp">&nbsp; 三大专业技能证书</p>
                        </div>
                        <p class="ppp1">提供专业的技能认证证书，助您驰骋职场</p>
                    </li>
                    <li style="border:0 ;margin-top: 8px;">
                        <div class="eee">
                            <img src="../image/img11_06.png" alt="" class="im1">
                            <p class="ppp">&nbsp; 学信网可查学历</p>
                        </div>
                        <p class="ppp1">供社会认可的高等学历晋升通道</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>